    </body>
   
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
<footer class="foot">
            <div class="container">
                <p class="hidden-xs">Camping near  Kerala .  Wayanad . Munnar . Vagamon . Tamilnadu .  Karnataka </p>
                <p style="display: inline;"><a href="/campgrounds/contact">Host your Campsite </a></p>|
                <p style="display: inline;"><a href="/campgrounds/contact"> Cancel your Request</a></p>
                <p class="hidden-xs">Campperr © 2019. All rights reserved . </p>
                <p class="hidden-lg hidden-md hidden-sm text-center">Campperr © 2019.  
                <span> <a href="">Privacy </a></span>and <span> <a href="">Terms</a></span></p>
            </div>
        </footer>
</html>
