<% include ../partials/header %>

<div class="container">
	<div class="jumbotron text-xs-center">
  <h1 class="display-3">Thank You <%=name%></h1>
  <p class="lead"><strong>Sit Back and Relax</strong> we will arrange everything perfectly and contact you as soon as possible.</p>
  <hr>
  <p>
    Having trouble? <a href="/campgrounds/contact">Contact us</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="/campgrounds" role="button">Continue to homepage</a>
  </p>
</div>
</div>

<% include ../partials/footer %>

