

<% include ../partials/header %>

<div class="container">
	<div class="jumbotron">
		<h2>Thank you <%=contact.firstname%>.</h2>
		<p>We will get back to you within 24hrs.</p>
	</div>
</div>

<% include ../partials/footer %>